name: "infra preview & deploy"

on: 
  push:
    branches:
      - main
    paths:
      - 10_infra/**
      - .github/workflows
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  IF_VERSION: 1.2.8

defaults:
  run:
    shell: bash
    working-directory: "10_infra/"

jobs:
  preview:
    name: "Preview"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.IF_VERSION }}
